.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	backdrop-filter: blur(8px);
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 1.1rem;
		.div1 {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 1.5rem;
			button {
				img {
					width: 2rem;
					height: auto;
				}
			}
			.div11 {
				display: flex;
				align-items: center;
				gap: 0.2rem;
				.img {
					width: 2.5rem;
					height: auto;
				}
				span {
					font-size: 1.6rem;
					font-weight: 700;
				}
			}
		}
		.div2 {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 25px;
				height: 25px;
				background-color: transparent;
			}
		}
		.div3 {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			img {
				width: 2.8rem;
				height: 2.8rem;
				border-radius: 50%;
			}
		}
	}
}

.modalDiv {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	align-items: center;
}

.divModal2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.8rem;

	.modalButtons {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

.modalExit {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	h1 {
		font-size: 1.8rem;
		font-weight: 650;
	}
	.buttonsModal {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 1rem;
		.buttonRed {
			width: 120px;
			height: 45px;
			border-radius: 6px;
			background-color: #f0e9e9;
			color: red;
			font-size: 1.2rem;
			font-weight: 600;
		}
		.buttonBlue {
			width: 120px;
			height: 45px;
			background-color: rgb(58, 58, 248);
			color: #f0e9e9;
			font-size: 1.2rem;
			font-weight: 600;
		}
	}
}
