.Vidoe {
	.content {
		width: 100%;
		height: auto;
		.div1 {
			width: 100%;
			height: auto;
			.irrameDidoes {
				width: 100%;
				height: auto;
				.iframe {
					width: 100%;
					height: 100vh;
				}
			}
		}
	}
}
